<% if @articles.count <= 0 %>
  <div class="container">
     <h1>Not yet posted.</h1>
    <%= link_to 'Create Post', new_article_path, class:'btn btn-primary btn-lg' %>
  </div>
 <%else %>
  <div class="container mb-4">
    <h2>Posts</h2>
    <div class="d-flex justify-content-between">
      <a href="<%= new_article_path %>" class="btn btn-lg btn-success">Create an article</a>
      <button type="button" class="btn btn-primary">
        Posts <span class="badge bg-danger"><%= @articles.count %></span>
      </button>
    </div>
  </div>
  <% @articles.each do |article| %>
    <div class="container">
      <div class="card card-body mb-2">
        <div class="card-title">
          <span class="badge bg-secondary">Title</span>
          <h3><%= article.title %></h3>
          <span class="badge bg-success">Description</span>
          <p><%= article.description %></p>
        </div>

        <div class="list-item">
          <%= link_to 'Edit', edit_article_path(article), class:'text-primary' %>
          <%= link_to 'View', article_path(article), class:'text-dark' %>
          <%= link_to 'Destroy', article_path(article), class:'text-danger',
                      data: { turbo_method: :delete,  turbo_confirm: "Are you sure?"
                      }%>
        </div>
      </div>
    </div>

  <% end %>
<%end %>

