<div class="container">

  <%= render 'shared/errors', obj: @user %>

  <%= form_for @user, local: true, data: { turbo: false } do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class:'form-control', placeholder:'Username' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class:'form-control', placeholder:'Email' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control', placeholder:'Password' %>
    </div>
    <%= f.submit(@user.new_record? ? "Create account": "Update account", class:'btn btn-primary btn-lg mt-3') %>

  <% end %>
</div>